{{ if .Values.xds }}
apiVersion: v1
kind: ServiceAccount
metadata:
  namespace: {{ .Release.Namespace }}
  name: {{.Values.appName }}
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{.Values.appName }}
rules:
  - apiGroups: [""]
    resources:
      ["pods", "configmaps", "services", "namespaces", "events", "endpoints"]
    verbs: ["get", "list", "watch"]
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{.Values.appName }}
subjects:
  - kind: ServiceAccount
    name: {{.Values.appName }}
    namespace: {{ .Release.Namespace }}
    apiGroup: ""
roleRef:
  kind: ClusterRole
  name: {{.Values.appName }}
  apiGroup: rbac.authorization.k8s.io
{{ end }}